{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                <p>published: {{ post.published_date }}</p>
            </div>
            <div>
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        </div>

    {% endfor %}
{% endblock %}

<!--blog.views.post_detail은 post_detail의 뷰 경로. blog는 응용프로그램(디렉터리 blog)의 이름인 것을 꼭 기억하세요. views는 views.py파일명이에요. 마지막 부분 post_detail는 view 이름입니다.-->